<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>@ViewData["Title"] - adamhilton.net</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/clean-blog.css"/>
        <link rel="stylesheet" href="~/css/highlight.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/clean-blog.min.css" />
        <link rel="stylesheet" href="~/css/highlight.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    @Html.Partial("_AdminNavBar.cshtml")

    <header class="top-header"><div></div></header>
    <div class="container body-content">
        <div class="row">

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                @RenderBody()
            </div>

            <div class="col-xs-12">
                @Html.Partial("_BottomBar")
            </div>

        </div>
    </div>

    <environment names="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/additional-methods.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/tinymce.js"></script>
        <script src="~/js/plugins/codesample/plugin.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/hightlight.pack.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.min.validate.js"></script>
        <script src="~/js/additional-methods.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/tinymce.min.js"></script>
        <script src="~/js/plugins/codesample/plugin.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/hightlight.pack.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
