<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - adamhilton.net</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/clean-blog.css" />
		<link rel="stylesheet" href="~/css/font-awesome.css" />
		<link rel="stylesheet" href="~/css/prism.css" />
		<link rel="stylesheet" href="~/css/site.css" />

	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/clean-blog.min.css" />
		<link rel="stylesheet" href="~/css/font-awesome.min.css" />
		<link rel="stylesheet" href="~/css/prism.min.css" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>

<body class="container">

	@Html.Partial("_NavBar")

	<div class="body-content">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-8">
				@RenderBody()
			</div>

			<div class="col-xs-12 col-sm-12 col-md-3">
				@Html.Partial("_SideBar", new BlogPostsRequestViewModel())
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				@Html.Partial("_BottomBar")
			</div>
		</div>
	</div>

	<environment names="Development">
		<script src="~/js/jquery.js"></script>
		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/prism.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<script src="~/js/prism.min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("scripts", required: false)
</body>

</html>